@media screen and (min-width: 320px) and (max-width: 450px) {
    body {
        background-image: url(/images/background-ozarenko-mobile.jpg);
        background-position: 0%;
        background-repeat: repeat;
        
    }
    .page, .footer {
        width: 95%;
        position: relative;
     }
    .page .page-container {
        padding: 10px;
    }
    
    .header {
        background-color: @white-color;    
        width: 100%;
               
        a:first-child {
            background-image: url(./images/baseline_home_black_48dp.png);
            background-repeat: no-repeat;  
            background-size: 100%;
            width: 42px;
            height: 42px;
            margin: 12px 0px 0px 65px;
     
                &:active, &:hover {
                background-color: @active-color;
                background-image: url(./images/baseline_home_black_48dp.png);
                }
        }
        
            p {
                margin: 0;
                &:hover {
                    background-color: @hover-color;
                }
            }
    
            a:last-child { 
                display: none;
            }
    
    }
    .button() {
        position: fixed;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        margin: 10px;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        background-color: #d3d3d39a;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
            &:active {
            background-color: @active-color;
            }
    }
    .mobile-button {
        .button();
        background-image: url(/images/baseline_menu_black_48dp.png);
    }
    .close {
        .button();
        background-image: url(/images/outline_close_black_18dp.png);
    }

    .main-menus {
        position: sticky;
        margin: -50px 0px 0px 0px;
        width: 320px;
        overflow: hidden;
        background-color: @white-color;
        border-radius: 0;
        box-shadow: none;
        flex-direction: column;
        font-size: 1.2em;
        z-index: 10;
        
        .main-menu {
            border: 1px solid #c7c7c7;
            background: linear-gradient(#fff 50%, #eee 50% 50%);
            position: sticky;
            top: 10;
            padding: 20px;
            text-align: left;
            margin: 1;
                                           
            &:first-child, &:last-child {
                border-radius: 0;
                }
            &:hover, &:active {
                background: none;
            }
        }
        .sub-menus {
            position: sticky;
            top: 10;
            border: 1px solid #e2e2e2;
            border-radius: 0;
            margin-left: -13;
            margin-top: 10px;

            z-index: 11;
        }
        
        .sub-menu {
            border-bottom: 1px solid #e2e2e2;
            margin: 1px;
            background: linear-gradient(#fff 50%, #eee 50% 50%);
            
            &:first-child, &:last-child {
                border-radius: 0px;
            }
            
        }

    }
    .main-page-link-element {
        flex-flow: column wrap;
            }
   .main-page-link-element-image {       
        align-self: baseline;
        margin-bottom: 15px;
        float: none;
        box-shadow: none;
        img {
            width: 260px;
            height: 260px;
        }
        a {
            clear: both;
        }
    }

    .video {
        width: 100%;
        height: auto;
    }
    .footer {
        .links-container {
        display: none;
        }
    .social-media-widgets {
        flex-flow: column-reverse wrap;
        }
        .widget-1, .widget-2 {
        padding: 0px 20px 0px 10px;
        }
    }

    .team {
        flex-direction: column;
        align-items: center;
        .team-member:nth-child(2) {
            margin: 0;
            h3, img, div {
                width: 100%;
            }
            img {
                display: block;
                block-size: auto;
            }
        }
    }
    .wrapper {
        .idc-iantd .wrapper {
            flex-wrap: wrap;
        }
        .idc-ndl .wrapper {
            flex-wrap: wrap;
        }
    }
    .courses-freedive img {
        max-width: 98%;
        height: auto;
    }


}
