@media screen and (min-width: 320px) and (max-width: 450px) {
    body {
        background-image: url(/images/background-ozarenko-mobile.jpg);
        background-position: 0%;
        background-repeat: repeat;
        
    }
    .page, .footer {
        width: 95%;
        position: relative;
     }
    .page .page-container {
        padding: 10px;
    }
    
    .header {
        background-color: @white-color;    
        width: 100%;
               
        a:first-child {
            background-image: url(./images/baseline_home_black_48dp.png);
            background-repeat: no-repeat;  
            background-size: 100%;
            width: 42px;
            height: 42px;
            margin: 12px 0px 0px 65px;
     
                &:active, &:hover {
                background-color: @active-color;
                background-image: url(./images/baseline_home_black_48dp.png);
                }
        }
        
            p {
                margin: 0;
                &:hover {
                    background-color: @hover-color;
                }
            }
    
            a:last-child { 
                display: none;
            }
    
    }
    .mobile-nav-button() {
        position: absolute;
        top: -105;
        left: -10;
        width: 48px;
        height: 48px;
        margin: 10px;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        background-color: #d3d3d39a;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
            &:active {
            background-color: @active-color;
            }
    }
    .dropdown {
        .mobile-nav-button();
        background-image: url(/images/baseline_menu_black_48dp.png);
    }
    .close {
        .mobile-nav-button();
        background-image: url(/images/outline_close_black_18dp.png);
    }
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;
        margin: -50px 0px 0px 0px;
        width: 320px;
        background-color: @white-color;
        font-size: 1.2em;
        text-align: left;
        border: 1px solid #e2e2e2;
        
        .main-menu {
            border: 1px solid #c7c7c7;
            background: linear-gradient(#fff 50%, #eee 50% 50%);
            position: sticky;
            top: 10;
            padding: 20px;
        }
        .sub-menu {
            position: sticky;
            top: 10;
            border: 1px solid #e2e2e2;
            border-radius: 0;
            margin-left: -13;
            margin-top: 10px;
            z-index: 11;
           
            .sub-menu-item {
                display: block;
                padding: 20px;
                background: linear-gradient(#fff 50%, #eee 50% 50%);
                .a-no-decoration();
                &:hover {
                    background: linear-gradient(#fffaa1 50%, #FFF766 50% 50%);
                }
                &:active {
                    background: linear-gradient(#FFF766 50%, #FFF200 50% 50%);
                }
            }    
            .sub-menu-item + .sub-menu-item {
                margin-top: @menu-padding;
            }
        }
    }

    .main-page-link-element {
        flex-flow: column wrap;
            }
   .main-page-link-element-image {       
        align-self: baseline;
        margin-bottom: 15px;
        float: none;
        box-shadow: none;
        img {
            width: 260px;
            height: 260px;
        }
        a {
            clear: both;
        }
    }

    .video {
        width: 100%;
        height: auto;
    }
    .footer {
        .links-container {
        display: none;
        }
    .social-media-widgets {
        flex-flow: column-reverse wrap;
        }
        .widget-1, .widget-2 {
        padding: 0px 20px 0px 10px;
        }
    }

    .team {
        flex-direction: column;
        align-items: center;
        .team-member:nth-child(2) {
            margin: 0;
            h3, img, div {
                width: 100%;
            }
            img {
                display: block;
                block-size: auto;
            }
        }
    }
    .wrapper {
        .idc-iantd .wrapper {
            flex-wrap: wrap;
        }
        .idc-ndl .wrapper {
            flex-wrap: wrap;
        }
    }
    .courses-freedive img, .sidemount img  {
        max-width: 98%;
        height: auto;
    }
    .sale img, .wrapper-div-image .img-right, .wrapper-div-image .img-left {
        max-width: 100%;
        padding: 0;
    }
    #north {
        height: auto;
    }
    .ndl-courses, .ndl-navigation {
        display: flex;
        flex-wrap: wrap;
    }
    .specialties  {
        justify-content: center;
        img {
            width: 100%;
            height: auto;
            margin-bottom: 5px;
        }
    }
    .wrapper-price-sharm {
        div {
            &:first-child {
                order: 3;
            }
        }
    }
    .price-technical-rent, .wrapper-rebreather-prices, .video-links-techdive {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        h3 {
            width: 100%;
        }
    }
    .wrapper-two-columns {
        flex-flow: nowrap column;
        .booking {
            max-width: 100%;
            height: 100%;
        }
    }
    .ndl-course-page-description div + div {
        margin: 0;
        min-width: fit-content;
    }
}

@media screen and (max-width: 325px){
    .vertical {
        margin-left: -8px;
        width: 300px;
        height: 384px;
    }
    .horisontal {
        margin-left: -8px;
        width: 300px;
        height: 234px;
    }
    .special {
        margin-left: -8px;
        width: 300px;
        height: 229px;
    }
    .special-south {
        margin-left: -8px;
        width: 300px;
        height: 200px;
    }
    .special-rocky {
        margin-left: -8px;
        width: 300px;
        height: 200px;
    }
    .special-sidemount {
        margin-left: -8px;
        width: 300px;
        height: 188px;
    }
    .special-rescue {
        margin-left: -8px;
        width: 300px;
        height: 228px;
    }
    .special-intro {
        margin-left: -8px;
        width: 300px; 
        height: 199px;
    }
    .safariboat {
        margin-left: -8px;
        width: 300px; 
        height: 200px;
    }
    .thg {
        margin-left: -8px;
        width: 300px; 
        height: 174px;
    }
}
@media screen and (min-width: 326px) and (max-width: 379px){
    .vertical {
        width: 330px;
        height: 422px;
    }
    .horisontal {
        width: 330px;
        height: 257px;
    }
    .special {
        width: 330px;
        height: 251px;
    }
    .special-south {
        width: 330px;
        height: 231px;
    }
    .special-rocky {
        width: 330px;
        height: 226px;
    }
    .special-sidemount {
        width: 330px;
        height: 206px;
    }
    .special-rescue {
        width: 330x;
        height: 250px;
    }
    .special-intro {
        width: 330px; 
        height: 219px;
    }
    .safariboat {
        width: 330px; 
        height: 220px;
    }
    .thg {
        width: 330px; 
        height: 192px;
    }
}
@media screen and (min-width: 380px) and (max-width: 449px){
    .vertical {
        width: 375px;
        height: 480px;
    }
    .horisontal {
        width: 375px;
        height: 293px;
    }
    .special {
        width: 375px;
        height: 286px;
    }
    .special-south {
        width: 375px;
        height: 262px;
    }
    .special-rocky {
        width: 375px;
        height: 250px;
    }
    .special-sidemount {
        width: 375px;
        height: 234px;
    }
    .special-rescue {
        width: 375px;
        height: 285px;
    }
    .special-intro {
        width: 375px; 
        height: 248px;
    }
    .safariboat {
        width: 375px; 
        height: 250px;
    }
    .thg {
        width: 375px; 
        height: 218px;
    }
}
@media screen and (min-width: 450px) and (max-width: 750px){
    
    .horisontal {
        width: 450px;
        height: 351px;
    }
    .special {
        width: 450px;
        height: 343px;
    }
    .special-south {
        width: 450px;
        height: 315px;
    }
    .special-rocky {
        width: 450px;
        height: 300px;
    }
    .special-rescue {
        width: 450px;
        height: 341px;
    }
    .safariboat {
        width: 450px; 
        height: 300px;
    }
    .thg {
        width: 450px; 
        height: 361px;
    }
}
