* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}
body {
  background-image: url(./images/ozarenko-diving-background.jpg);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: 100%;
}
.page,
.footer {
  padding: 10px 0px;
  margin: 0 auto;
  width: 970px;
}
.page {
  background-color: rgba(255, 255, 255, 0.93);
}
.page .page-container {
  padding: 25px;
}
.page .page-container h1 {
  margin-bottom: 10px;
}
.page .page-container h1 a {
  text-decoration: none;
  color: #000;
}
.page .page-container h1,
.page .page-container h2,
.page .page-container h3 {
  font-weight: normal;
  padding-bottom: 5px;
}
.page .page-container h2,
.page .page-container h3,
.page .page-container h4,
.page .page-container h5,
.page .page-container p {
  margin-top: 10px;
}
.page .page-container ul {
  margin-left: 20px;
}
.center {
  text-align: center;
}
.header {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
.header .header-container {
  width: 970px;
  margin: 0 auto;
  box-shadow: 0px 7px 9px -7px black;
  display: flex;
  flex-direction: column;
}
.header a {
  display: inline-block;
  background-image: url(./images/logos/ozarenko_logo-main.png);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  max-width: 702px;
  height: 56px;
  margin-top: 10px;
  margin-left: -14px;
}
.header a:hover {
  background-image: url(./images/logos/ozarenko_logo-hover.png);
}
.header a:active {
  background-image: url(./images/logos/ozarenko_logo-active.png);
}
.header .header-text-elements {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 82px;
}
.header .header-text-elements p {
  font-family: 'Georgia', cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}
.header .header-text-elements a {
  display: inline-block;
  font-size: 20px;
  color: #000;
  background: none;
  height: fit-content;
  padding-bottom: 15;
}
.main-menus {
  margin-right: 15px;
  margin-left: 15px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 2px 3px 6px 0px #000;
  display: flex;
  justify-content: space-around;
}
.main-menu {
  padding: 10px 20px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #000;
}
.main-menu:first-child {
  border-radius: 10px 0px 0px 10px;
}
.main-menu:last-child {
  border-radius: 0px 10px 10px 0px;
}
.main-menu:hover {
  background-color: #FFF766;
}
.main-menu + .main-menu {
  border-left: 1px solid #000;
}
.sub-menus {
  position: absolute;
  text-align: left;
  left: 0px;
  right: 0px;
  top: 35px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  z-index: 4;
}
.sub-menu {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}
.sub-menu:first-child {
  border-radius: 10px 10px 0px 0px;
}
.sub-menu:last-child {
  border-radius: 0px 0px 10px 10px;
}
.sub-menu:hover {
  background-color: #FFF766;
}
.sub-menu:active {
  background-color: #FFF200;
}
.sub-menu + .sub-menu {
  margin-top: 10px 20px;
}
.main-page-link-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-page-link-element {
  border-bottom: 3px solid #FFF200;
  width: 475px;
  margin: 5px;
  padding: 10px;
}
.main-page-link-element-text p {
  padding: 10px 0px;
}
.main-page-link-element-text h3 span {
  background-color: #FFF766;
}
.main-page-link-element-text h4 {
  font-weight: normal;
  font-style: italic;
}
.main-page-link-element-image {
  margin-left: 5px;
  float: right;
  box-shadow: 0 8px 10px 1px grey;
}
.main-page-link-element-image img {
  width: 200px;
  height: 200px;
}
.button-go-to-page {
  background-color: #89C9CD;
  padding: 10px 15px;
  margin: 5px 0px;
  font-size: 24px;
  border-color: #89C9CD;
  border-style: outset;
  border-width: 2px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.button-go-to-page:active {
  padding: 12px 13px 8px 17px;
  border-style: inset;
}
.button-go-to-page:hover {
  background-color: #add9dc;
}
.footer {
  background-color: #fff;
}
.footer .footer-container {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}
.footer-columns-headline {
  font-weight: bold;
}
.footer-columns {
  color: #000;
}
.fotter-column-row a {
  font-weight: normal;
  font-size: 14px;
  color: #000;
}
.team {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.team .team-member {
  display: flex;
  flex-direction: column;
}
.team .team-member img {
  width: 250px;
  height: 375px;
}
.team .team-member h3 {
  margin-top: 0px;
  width: 250px;
  background-color: #89C9CD;
  font-weight: normal;
  padding: 10px;
}
.team .team-member div {
  width: 250px;
}
.team-member:nth-child(2) {
  margin: 0px 25px;
}
.team-member:nth-child(2) h3 {
  background-color: #FFF200;
}
.team-member:nth-child(2) h3,
.team-member:nth-child(2) img,
.team-member:nth-child(2) div {
  width: 350px;
}
.clients-feedback-feed {
  display: flex;
  flex-direction: column;
}
.client-feedback {
  border-bottom: 3px solid #FFF200;
  margin-bottom: 10px;
}
.client-feedback img {
  width: 160px;
  height: 160px;
  float: left;
  margin: 10px 15px 10px 0px;
}
.client-feedback h2 {
  padding-top: 5px;
  font-size: 1.3em;
}
.client-feedback h5 {
  font-style: italic;
  padding-bottom: 5px;
}
.client-feedback p {
  padding-bottom: 15px;
}
.sale {
  display: flex;
  justify-content: flex-start;
  border-bottom: 3px solid #FFF200;
}
.sale img {
  max-width: 900px;
  padding: 10px;
}
.slider-align-left .slider {
  float: left;
  margin-right: 25px;
  margin-bottom: 13px;
  margin-top: 5px;
}
.slider-align-right .slider {
  float: right;
  margin-left: 10px;
}
.slider {
  width: 393px;
  height: 260px;
  box-shadow: 0 8px 10px 1px grey;
  position: relative;
  overflow: hidden;
}
.slider a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.slider img {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.slider .slider-arrow-right {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 3;
  width: 42px;
  right: 0px;
  background-image: url(/images/arrow_right.png);
}
.slider .slider-arrow-left {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 3;
  width: 42px;
  left: 0px;
  background-image: url(/images/arrow_left.png);
}
@keyframes coming-from-left {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}
.slider .image-coming-from-left {
  position: absolute;
  animation-duration: 0.5s;
  top: 0px;
  animation-name: coming-from-left;
}
@keyframes going-to-right {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}
.slider .image-going-to-right {
  position: absolute;
  animation-duration: 0.5s;
  top: 0px;
  animation-name: going-to-right;
}
@keyframes coming-from-right {
  from {
    left: 100%;
  }
  to {
    left: 0px;
  }
}
.slider .image-coming-from-right {
  position: absolute;
  animation-duration: 0.5s;
  top: 0px;
  animation-name: coming-from-right;
}
@keyframes going-to-left {
  from {
    left: 0px;
  }
  to {
    left: -100%;
  }
}
.slider .image-going-to-left {
  position: absolute;
  animation-duration: 0.5s;
  top: 0px;
  animation-name: going-to-left;
}
