* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}
.entire-page {
  background-image: url(./images/ozarenko-diving-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: 100%;
}
.page,
.footer {
  padding: 10px 0px;
  margin: 0 auto;
  width: 970px;
}
.page {
  background-color: rgba(255, 255, 255, 0.95);
}
.header {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
.header-container {
  width: 970px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header-img {
  width: 702px;
  height: 56px;
  margin-top: 10px;
  margin-left: -14px;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.header-img:hover {
  background-image: url(./images/logos/ozarenko_logo-hover.png);
}
.header-img:active {
  background-image: url(./images/logos/ozarenko_logo-active.png);
}
.header-text-elements {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 7px 9px -7px black;
  padding-top: 5px;
  padding-bottom: 15px;
}
.header-text {
  font-family: 'Georgia', cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  margin-left: 80px;
  padding-top: 5px;
}
.header-link {
  margin-right: 10px;
  font-size: 20px;
}
.header-link a {
  color: #000;
}
.main-menus {
  margin-right: 15px;
  margin-left: 15px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 2px 3px 6px 0px #000;
  display: flex;
  justify-content: space-around;
}
.main-menu {
  padding: 10px 20px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #000;
}
.main-menu:first-child {
  border-radius: 10px 0px 0px 10px;
}
.main-menu:last-child {
  border-radius: 0px 10px 10px 0px;
}
.main-menu:hover {
  background-color: #FFF766;
}
.main-menu + .main-menu {
  border-left: 1px solid #000;
}
.sub-menus {
  position: absolute;
  text-align: left;
  left: 0px;
  right: 0px;
  top: 35px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}
.sub-menus a {
  text-decoration: none;
  color: #000;
}
.sub-menu {
  background-color: #ffffff;
  padding: 10px 20px;
}
.sub-menu + .sub-menu {
  margin-top: 10px 20px;
}
.sub-menu:first-child {
  border-radius: 10px 10px 0px 0px;
}
.sub-menu:last-child {
  border-radius: 0px 0px 10px 10px;
}
.sub-menu:hover {
  background-color: #FFF766;
}
.sub-menu:active {
  background-color: #FFF200;
}
.main-page-link-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-page-link-element {
  border-bottom: 3px solid #FFF200;
  width: 475px;
  margin: 5px;
  padding: 10px;
}
.main-page-link-element-text p {
  padding: 10px 0px;
}
.main-page-link-element-text h3 span {
  background-color: #FFF766;
}
.main-page-link-element-text h4 {
  font-weight: normal;
  font-style: italic;
}
.main-page-link-element-image {
  margin-left: 5px;
  float: right;
  box-shadow: 0 8px 10px 1px grey;
}
.main-page-link-element-image img {
  width: 200px;
  height: 200px;
}
.button-go-to-page {
  background-color: #89C9CD;
  padding: 10px 15px;
  margin: 5px 0px;
  font-size: 24px;
  border-color: #89C9CD;
  border-style: outset;
  border-width: 2px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.button-go-to-page:active {
  padding: 12px 13px 8px 17px;
  border-style: inset;
}
.button-go-to-page:hover {
  background-color: #add9dc;
}
.footer {
  background-color: #fff;
}
.footer-container {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}
.footer-columns-headline {
  font-weight: bold;
}
.footer-columns {
  color: #000;
  padding-right: 5px;
}
.fotter-column-row a {
  font-weight: normal;
  font-size: 14px;
  color: #000;
}
.page-container {
  padding: 20px;
}
.clients-feedback-feed {
  display: flex;
  flex-direction: column;
}
.client-feedback {
  border-bottom: 3px solid #FFF200;
  margin-bottom: 10px;
}
.client-feedback img {
  width: 160px;
  height: 160px;
  float: left;
  margin: 10px 15px 10px 0px;
}
.client-feedback h2 {
  padding-top: 5px;
  font-size: 1.3em;
}
.client-feedback h5 {
  font-style: italic;
  padding-bottom: 5px;
}
.client-feedback p {
  padding-bottom: 15px;
}
