* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'Play', sans-serif;
  }
.entire-page {
    background-image: url(../images/ozarenko-diving-background.jpg);
    background-repeat: no-repeat;  
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: 100%;
}

.page {
    color: #000000;
    background-color:#ffffffd7;  
    padding: 20px 0;
    margin: 0 auto;
    width: 900px;
 }

 .main-menus {
    margin: 0 auto;
    width: 900px;
    background-color:#ffffffd7;  
    display: flex;
    justify-content: space-between;
}

@menu-padding: 20px;
@hover-color: #FFF200;

.main-menu {
    padding: @menu-padding;
    background-color:  #d1d0d0;
    text-align: center;
    cursor: pointer;
    position: relative;
    a {
        text-decoration: none;
    }
}

    .main-menu:hover {
        background-color: @hover-color;
    }

    .main-menu + .main-menu {
        border-left: 1px solid #000;
    }

.sub-menus {
    background-color:  #d1d0d0;
    position: absolute;
    text-align: left;
    text-decoration: none;
    left: 0px;
    right: 0px;
    padding: @menu-padding;
    a {
        text-decoration: none;
    }
}
   .sub-menu + .sub-menu {
        margin-top: @menu-padding;
    }
    .sub-menu:hover {
        background-color: @hover-color;
    }

        

.main-page-link-elements {
    background-color: #dbeeff9d; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-page-link-element {
    border-bottom: 2px solid #FFF200;
    width: 440px;
    margin: 5px;
    padding: 10px;
}

.main-page-link-element-text {
    text-align: left;
}

.main-page-link-element-image {
    margin-left: 5px;
    float: right;
    img {
        width: 200px;
        height: 200px;
    }
}


@button-color: #89C9CD;

.button-go-to-page {
    color: #000;
    background-color: @button-color;
    padding: 10px 15px;
    margin: 5px 0px;
    font-size: 24px;
    border-color: @button-color;
    border-style: outset;
    border-width: 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    a {
        text-decoration: none;
    }
}
.button-go-to-page:active {
    padding: 12px 13px 8px 17px;
    border-style: inset;
}

.button-go-to-page:hover {
    background-color: lighten(@button-color, 10%);
    opacity: 0.8;
}
// @media screen and (min-width: 361px) and (max-width: 600px) {
// .main-menus {
//     max-width: 560px;
//     flex-direction: row;
//     align-items: center;
// }
// }
// @media screen and (min-width: 601px) and (max-width: 960px) {
// .main-menus {
//     max-width: 900px;
//     flex-direction: row;
//     justify-content: space-between;
// }
// }
// @media screen and (min-width: 960px) {
//     .main-menus {
//         width: 900px;
//         flex-direction: row;
//         justify-content: space-between;
//     }
//     }